@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 164px;
  background-color: #ccc;
}

.card {
  width: 368px;
  height: auto;
  border-radius: 16px;
  background-color:#FFFFFF ;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
  padding: 16px 16px 20px 16px;
}

img {
  width: 336px;
  height: 152px;
  border-radius: 16px;
}
.imgxd {
  padding-bottom: 16px;
}

span {
  background-color: #E6D6FC;
  color: #883AE1;
  border-radius: 30px;
  padding: 6px 16px;
  font-size: 10px;
}

.main{
  padding-top: 16px;
}

.main h1 {
  padding-bottom: 6px;
  font-size: 18px;
}
.main p {
  padding-bottom: 20px;
  font-size: 14px;
}

footer {
  border-top: 1px solid #ccc ;
  padding-top: 20px;
}

footer p {
  font-size: 12px;
}
